﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="book_info_db_data_access.aspx.cs" Inherits="Book_Club.book_info_db_data_access" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
