﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="front_end.Master.cs" Inherits="Book_Club.book_club" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Book Club</title>
    <link rel="stylesheet"  href="assets/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Book Club<small>.org</small></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="sign_in">Sign In</a></li>
          <li><a href="sign_up">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <asp:ContentPlaceHolder ID="default_page" runat="server">

        </asp:ContentPlaceHolder>

        <asp:ContentPlaceHolder ID="sign_up_page" runat="server">

        </asp:ContentPlaceHolder>

        <asp:ContentPlaceHolder ID="sign_in_page" runat="server">

        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="admin_sign_in_page" runat="server">

        </asp:ContentPlaceHolder>
    </div>
    </form>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
